*, ::before, ::after {
    box-sizing: border-box;
}
a:visited {
    color: black;
    text-decoration: none;
}
.navcontainer1 {
    display: flex;
    justify-content: space-around;
}
.links a{
    display: inline-flex;
    
}

.logo {
    height: 50px;
    width: 70px;
    display: inline-flex;
}

.logo p{
    margin: auto;
}
.logo img {
    max-height: 100%;
    max-width: 100%;
    padding-right: 10%
}